# Node & deps
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Build
dist/
build/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test output
coverage/
